:root {
  --vp-c-brand-1: #00A1E0;
  --vp-c-brand-2: #0090c8;
  --vp-c-brand-3: #007eb0;
  --vp-c-brand-soft: rgba(0, 161, 224, 0.14);
}

.dark {
  --vp-c-brand-1: #00A1E0;
  --vp-c-brand-2: #33b4e6;
  --vp-c-brand-3: #66c7ec;
  --vp-c-brand-soft: rgba(0, 161, 224, 0.16);
}
